# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual envs
venv/
.env/


# Processed data
data/processed/

# Model artifacts
outputs/models/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
